@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "RobotoCondensed";
    src: url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
    font-size: 22px;
}

@layer base {
    body {
        @apply font-Roboto;
    }
}
